/* Contains general styles and global css variables */
/* ================================================ */

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */

  --info: #3498DB;
  --warning: #F39C12;
  --success: #2ECC71;
  --danger: #E74C3C;
}

:root[data-theme='dark'] {
  --bg-main: #131418;
  --text-main: #fff;
  --bg-secondary: #1D1E25;
  --text-secondary: #494F68;
}

:root[data-theme='light'] {
  --bg-main: #fff;
  --text-main: #131418;
  --bg-secondary: #F4F4F4;
  --text-secondary: #959BB0;
}

* {
  box-sizing: border-box;
}

body, ul, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  padding: 0;
}

html {
  font-size: 10px;
  background-color: var(--bg-main);
}

hr {
  border-top: none;
  border-color: var(--bg-secondary);
}

/* USED TO CONTROL SVG COLOR, NOT FINAL VERSION */
.fill-main {
  fill: var(--text-main);
}

.hover\:fill-main:hover {
  fill: var(--text-main);
}

.fill-secondary {
  fill: var(--text-secondary);
}

.theme-switcher {
  overflow: hidden;
  padding: 0;
  border: unset;
  font-size: 0;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}

.theme-switcher:hover svg {
  fill: var(--text-main);
}
