.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.left-0 {
  left: 0;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.direction-column {
  flex-direction: column;
}

.full-height {
  min-height: 100vh;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.max-w-67 {
  max-width: 67rem;
}

.max-w-75 {
  max-width: 75rem;
}

.max-w-80 {
  max-width: 80rem;
}

/* .gap-x-xs {
  column-gap: 0.5rem;
}

.gap-x-sm {
  column-gap: 1rem;
} */

.gap-x-md {
  column-gap: 1.5rem;
}

.gap-x-lg {
  column-gap: 2.5rem;
}

/* .gap-y-xs {
  row-gap: 0.5rem;
}

.gap-y-sm {
  row-gap: 1rem;
}

.gap-y-md {
  row-gap: 1.5rem;
}

.px-xs {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-sm {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-md {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
} */

.px-lg {
  padding-left: 2rem;
  padding-right: 2rem;
}

/*.py-xs {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-sm {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-md {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
} */

.py-lg {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/* .mx-xs {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-sm {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-md {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-xs {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-sm {
  margin-top: 1rem;
  margin-bottom: 1rem;
} */

.my-md {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.pb-xl {
  padding-bottom: 3.5rem;
}

/* .mb-xs {
  margin-bottom: 0.5rem;
} */

.mb-sm {
  margin-bottom: 1rem;
}

.mb-md {
  margin-bottom: 1.5rem;
}

.mb-lg {
  margin-bottom: 2.5rem;
}

.mb-xl {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mb-7\.5 {
  margin-bottom: 7.5rem;
}

.mb-12 {
  margin-bottom: 12rem;
}

.mb-15 {
  margin-bottom: 15rem;
}

.mt-7\.5 {
  margin-top: 7.5rem;
}

.mb-auto {
  margin-bottom: auto;
}

.p0 {
  padding: 0;
}

.m0 {
  margin: 0;
}

.br-xs {
  border-radius: 0.5rem;
}

.br-sm {
  border-radius: 1rem;
}

.br-md {
  border-radius: 1.5rem;
}

.of-hidden {
  overflow: hidden;
}

@media screen and (max-width: 678px) {
  .md\:flex-col {
    flex-direction: column;
  }

  .md\:gap-y-sm {
    row-gap: 1rem;
  }
}