@import url('./code-theme.css');

.post h1 {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--text-main);
  margin-bottom: 5rem;
}

.post h2 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-main);
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.post h3 {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--text-main);
  margin-bottom: 2rem;
}

.post p {
  font-size: 1.6rem;
  color: var(--text-main);
  line-height: 1.75;
  margin-bottom: 2rem;
}

.post pre {
  line-height: 1.5;
  font-size: 1.6rem;
  border-radius: 1.5rem;
  background-color: #1D1E25;
}
